.main {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-section { 
  top: 50%;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.section-1-subtitle { 
  padding-left: 0.5rem;
  border-left: 0.2rem solid var(--red_one);
}

.section-1-title { font-size: 5.0rem; }