.header {
  padding: 1.5rem 1.0rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-links,
.header-nav-buttons {
  margin: 0 0.5rem;
}

.header-nav-links a {
  padding: 0.4rem ;
  margin: 0 0.5rem;

  text-decoration: none;
}

.header-nav-buttons button {
  width: 5.0rem;
  padding: 0.4rem;

  cursor: pointer;

  transition: .5s ease all;

  border-radius: 0.3rem;
}