* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --red_one: #D92929;
  --red_two: #8C2020;
  --red_thr: #591C1C;

  --gray_one: #BFBFBF;
  
  --black_one: #0D0D0D;
  --black_two: #1A1A1A;
}

.header {
  padding: 0 1.0rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 0.1rem solid rgba(13, 13, 13, 0.100);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-links,
.header-nav-buttons { margin: 0 0.5rem; }

.nav-link {
  padding: 0.4rem;
  margin: 0 0.5rem;

  text-decoration: none;
  color: var(--black_one);
  transition: .5s ease all;
}

.nav-link:hover { color: var(--red_one); }

.header-nav-buttons a { text-decoration: none; }

.header-nav-buttons button {
  width: 6.5rem;
  padding: 0.4rem;

  cursor: pointer;
  transition: .5s ease all;

  border-radius: 0.3rem;
  border: 0.1rem solid transparent;
}

#signin {
  color: #FFFFFF;
  background-color: var(--red_one);
  border: 1px solid var(--red_one);
}

#signin:hover {
  background-color: var(--red_thr);
  border: 1px solid var(--red_thr);
}

#signup {
  color: var(--red_one);
  background-color: #F2F2F2;
  border: 1px solid var(--red_one);
}

#signup:hover {
  color: #FFFFFF;
  background-color: var(--red_one);
}

.header-logo {
  width: 10rem;
  height: full;
  position: relative;
}

.logo-image {
  width: 10rem;
  height: 6.5rem;

  object-fit: contain;
}

.profile-button {
  padding: 0;

  border: none;
  cursor: pointer;
  background: none;
}

.profile-initial {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;

  border-radius: 50%;
  background-color: var(--red_one);
}

.dropdown-content {
  right: 0;
  width: 15rem;
  display: none;
  position: absolute;
  
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  z-index: 100;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  padding: 0.9rem;

  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 1.0rem;
  font-weight: normal;
}

.footer-copyright a {
  color: var(--red_one);
  text-decoration: none;
  transition: .5s ease all;
}

.footer-copyright a:hover { color: var(--red_thr); }